/* *{
    border: 3px solid black;
} */


p{
    font-family: cursive;
    font: bold;
    font-size: larger;
    text-align:center;
    
}

.container{
border: 2px solid black;
width: 900px;
height: 500px;
background-color: aqua;
margin: 30px;
box-shadow: 5px 5px 2px black;
}

/* .container div{
    font-size: larger;
} 

 @keyframes kailee{
    from{
        height: 1px;
    }
    to{
        height:50px;
    }
} */


.top{
background-color: rgba(255, 68, 0, 0.87);
width: 50px;
height: 30px;
margin-top: 18px;
margin-left: 20%;
display: inline-block;
}

.left{    
background-color:blue;    
width: 60px;
height: 40px;
margin-top: 25%;

animation-name: carRunning;
animation-play-state: paused;
animation-duration: 0.7s;
animation-iteration-count: infinite;
animation-direction: alternate;

}

.container:active .left{
    animation-play-state:running;
}


.top:nth-child(1){
    background-color: yellow;
    animation-name: firstBall;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes firstBall {
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(1530%);
    }
    
}




.top:nth-child(2){
    background-color: indigo;
animation-name: secondBall;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-direction: alternate;
}


@keyframes secondBall {
    from {
        transform: translateY(0%);
    }
    to{
        transform: translateY(1530%);
    }

}

.top:nth-child(3){
animation-name: thirdBall;
animation-duration: 1.3s;
animation-iteration-count: infinite;
animation-direction: alternate;
}


@keyframes thirdBall {
    from {
        transform: translateY(0%);
    }
    to{
        transform: translateY(1530%);
    }

}

/* Animation is used to move the box with @keyframes in the time wise*/


@keyframes  carRunning{
from{
transform: translateX(0%);
}
to{
transform: translateX(1400%);
    }
}
